{% extends 'hospital/layout.html' %}
{% load static %}

{% block title %}Add Profile{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'hospital/css/style.css' %}">
<link rel="stylesheet" href="{% static 'hospital/css/edit_profile.css' %}">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
{{form.media}}
{% endblock %}
{% block content %}
<div class="main">
    <div class="header">Add Profile</div>

    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
        {% if error == True %}
        <span style="color: red">{{form.errors}}</span>
        {% endif %}
        
        <div class="label">
            <label for="hospital_name">Profile Picture:</label>
            <input type="file" name="pic" id="pic">
        </div>
        
        <br>

        <div class="label">
            <label for="hospital_name">Hospital Location:</label>
            <input type="text" name="location" id="location">
            <button onclick="getLocation()">Get Location</button>
        </div>
        <br>
        <p>{{form.hospital_name}}</p>
        <p><label for="">Address:</label></p>
        <p>{{form.address}}</p>
        <p><label for="">Website:</label></p>
        <p>{{form.website}}</p>
        <p><label for="">Phone:</label></p>
        <p>{{form.phone}}</p>
        <br>
        <p><button type="submit" class="btn">Save Changes</button></p>

    </form>
</div>
<script>
    function getLocation() {
        navigator.geolocation.getCurrentPosition(function (position) {
            document.getElementById("location").value = position.coords.latitude + "," + position.coords.longitude;
        }, function (error) {
            console.log(error);
        });
    }
</script>
{% endblock %}