{% extends 'hospital/base.html' %}
{% load static %}

{% block title %}Doctor{% endblock %}
{% block head %}

{% endblock %}
{% block content %}

<div class="profile">
  <div class="profile-image">
    {% if doctor.pic %}
    <img src="{{ doctor.pic.url }}" alt="dp">
    {% else %}
    <img src="{% static 'coreapp/img/default.png' %}" alt="">
    {% endif %}
  </div>
  <div class="profile-details">
    <h2>{{ doctor.name }}</h2>
    <p class="specialization">{{ doctor.specialization }}</p>
    <p class="experience">Experience: {{ doctor.experience }} years</p>
    <p class="qualifications">{{ doctor.qualifications }}</p>
    <p class="contact">Contact: {{ doctor.contact_number }}</p>
    <p class="email">Email: {{ doctor.email }}</p>

    <p class="availability">Availability: {% if doctor.is_available %}Available{% else %}Not Available{% endif %}</p>
  </div>
</div>
<div class="height20"></div>
<div class="box-container">
  <a href="{% url 'hospital:edit_doctor' doctor_id=doctor.id  %}" class="btn">Edit</a>
  <a href="{% url 'hospital:delete_doctor' doctor_id=doctor.id  %}" class="btn" style="background:red;">Delete</a>
</div>

{% endblock %}