{% extends 'hospital/base.html' %}
{% load static %}

{% block title %}Hospital{% endblock %}

{% block tab %}Dashboard{% endblock %}
{% block content %}
        <h1 class="">Hospital Dashboard</h1>
        <div class="height20"></div>
        <div class="container">
            <h2 class="card-">{{ user.hospital.hospital_name }}</h2>
            <div class="title">{{ user.hospital.address }}</div>

            {% if user.hospital.pic %}
            <img src="{{ user.hospital.pic.url }}" class="dpicn" alt="dp" width="100%" >
            {% else %}
            <img src="{% static 'hospital/img/default.png' %}" alt="">
            {% endif %}
        </div>
{% endblock %}