{% extends 'hospital/layout.html' %}
{% load static %}

{% block title %}Hospital{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'hospital/css/style.css' %}">{% endblock %}
{% block content %}

<div class="container">
    <div class="header">Hospital Dash</div>
    <a href="{% url 'hospital:hospital' %}">hospital</a>
    <p>{{ user.hospital.name }}</p>
    <p>{{ user.hospital.address }}</p>
    <p><img src="{{ user.hospital.pic.url }}" width="100" height="100">
    </p>
    <h1>This is the landing page of hospital</h1>
</div>


{% endblock %}