{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,
				initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
    
</head>

<body>

    <header>

        <div class="logosec">
            <a class="logo" href="{% url 'hospital:hospital' %}">DocOps Hospital</a>
        </div>
        {% if user.is_authenticated %}
        <div class="message">
            <div class="user">{{user.email}}</div>
            <a href="{% url 'hospital:edit_profile' %}">
                <div class="dp">
                    {% if user.hospital.pic %}
                    <img src="{{ user.hospital.pic.url }}" class="dpicn" alt="dp">
                    {% else %}
                    <img src="{% static 'hospital/img/default.png' %}" alt="">
                    {% endif %}
                </div>
            </a>
            <a href="{% url 'user:hoslogout' %}" class=".btn">Logout</a>
        </div>
        
        {% else %}
        <div class="message">
            <a class="btn" href="{% url 'user:hoslogin'%}">Login</a>
            <a class="btn" href="{% url 'user:hossignup'%}">Signup</a>
        </div>
        {% endif %}
    </header>

    {% block content %}
    {% endblock %}
</body>

</html>

