{% extends 'layout.html' %}
{% load static %}

{% block title %}Signup{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'user/style.css' %}">
<script src="{% static 'user/script.js' %}"></script>
<script src="https://kit.fontawesome.com/45978a437e.js" crossorigin="anonymous"></script>

{% endblock %}
{% block content %}
<section class="container forms">
    <div class="form login">
        <div class="form-content">
            <header>Signup</header>
            <form action="" method="post">{%  csrf_token %}
                <div class="field input-field">
                    {{form.email.errors}}
                    <!-- <input type="email" placeholder="Email" class="input" name="email"> -->
                    {{form.email}}
                </div>

                <div class="field input-field">
                    {{form.password1.errors}}
                    <!-- <input type="password" placeholder="Create password" class="password" name="password1"> -->
                    {{form.password1}}
                </div>

                <div class="field input-field">
                    <!-- <input type="password" placeholder="Confirm password" class="password" name="password2"> -->
                    {{form.password2.errors}}
                    {{form.password2}}
                    <i class='bx bx-hide eye-icon'></i>
                </div>

                <div class="field button-field">
                    <input type="submit" value="Signup" class="btn">
                </div>
            </form>

            <div class="form-link">
                <span>Already have an account? <a href="{% url 'user:login' %}" class="link login-link">Login</a></span>
            </div>
        </div>

       

    </div>
</section>

{% endblock %}